@model Account
<h1>Thank you for signing up! Your account information is below.</h1>
<p>First Name: @Model.Firstname</p>
<p>Last Name: @Model.Lastname</p>
<p>Email: @Model.Email</p>
<p>Password: @Model.Password</p>
